body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* navbar */
.navbar {
  height: 5rem;
  background-color: #fff;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* Footer */

.f-info-links a {
  text-decoration: none;
  color: #222;
}

.f-info-links a:hover {
  text-decoration: underline;
  color: #222;
}

.f-info-links,
.f-info-socials {
  width: 100%;
}

.fa-brands {
  font-size: 1.35rem;
  margin-right: 0.75rem;
  margin-top: 0.5rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

/* Cards */

.listing-card {
  border: none;
  margin-bottom: 2rem;
}

.delete-border {
  border: none;
}

.card-img-top {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
}

.card-body {
  padding: 0;
}

.card-text {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

/* Card Effect or Overly Effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: #fff;
}

/* New page */
.add-btn {
  background-color: #fe424d;
  border: none;
}

/* Edit page */
.edit-btn {
  background-color: #fe424d;
  border: none;
}

/* Show Page */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.btn {
  background-color: #fe424d;
  border: none;
}

.show-card {
  /* padding-left: 0; */
  padding-right: 0;
}

.text-align {
  text-align: justify;
}

.img {
  max-width: 15rem;
  height: auto;
  border: 1px solid #dee2e6;
}