body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* navbar */
.navbar {
  height: 5rem;
  background-color: #fff;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* Footer */

.f-info-links a {
  text-decoration: none;
  color: #222;
}

.f-info-links a:hover {
  text-decoration: underline;
  color: #222;
}

.f-info-links,
.f-info-socials {
  width: 100%;
}

.fa-brands {
  font-size: 1.35rem;
  margin-right: 0.75rem;
  margin-top: 0.5rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}

/* Cards */

.listing-card {
  border: none;
  margin-bottom: 2rem;
}

.delete-border {
  border: none;
}

.card-img-top {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
}

.card-body {
  padding: 0;
}

.card-text {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

/* Card Effect or Overly Effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: #fff;
}

/* New page */
.add-btn {
  background-color: #fe424d;
  border: none;
}

/* Edit page */
.edit-btn {
  background-color: #fe424d;
  border: none;
}

/* Show Page */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.btn {
  background-color: #fe424d;
  border: none;
}

.show-card {
  /* padding-left: 0; */
  padding-right: 0;
}

.text-align {
  text-align: justify;
}

/* Edit Image */
.img {
  max-width: 15rem;
  height: auto;
  border: 1px solid #dee2e6;
}

/* Map Styling */
#map {
  height: 22rem;
  width: auto;
}

#Marker {
  font-size: 1.5rem;
  color: #de0a26;
}

/* Index Page */
#filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

.filter {
  margin: 0 1rem 0 1rem;
  text-align: center;
  opacity: 0.7;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.filter i {
  font-size: 1.25rem;
}

.filter p {
  font-size: 0.8rem;
  margin: 0;
}

.tax-info {
  display: none;
}

.tax-toggle {
  border: 1px solid #000;
  padding: 0.25rem 0.4rem;
  border-radius: 0.5rem;
}

.tax-toggle:hover {
  border: 1px solid #dee2e6;
}

.idx-img-height {
  height: 20rem;
}

@media (max-width: 767.2px) {
  .idx-img-height {
    height: 15rem;
  }
}

@media (max-width: 575.98px) {
  .idx-img-height {
    height: 10rem;
  }

  .tax-toggle {
    max-width: 50%;
    font-size: 12px;
  }

  .tax-toggle .form-check {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
  }
}

/* Nabbar */
.search-btn {
  color: #fff;
  border-radius: 1.5rem;
  /* padding: 0 1rem 0 1rem; */
  font-size: 0.9rem;
}

.search-btn:hover {
  background-color: #fe424d;
  color: #fff;
}

.btn i {
  display: inline;
  margin-right: 0.4rem;
}

.search-input {
  border-radius: 1.5rem;
  padding: 0.5rem 3rem 0.5rem 3rem;
}
